<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>Form Components</h2>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="#email" role="tab">Email Address</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#checkbox" role="tab">Check Box</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#option-list" role="tab">option-list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#datepicker" role="tab">Date Picker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nested-list" role="tab">Nested List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nested-option-list" role="tab">Nested option-list</a>
            </li>
        </ul>
        <div class="tab-content card">
            <div class="tab-pane active" id="email" role="tabpanel">
                <div class="email-demo"></div>
            </div>
            <div class="tab-pane" id="checkbox" role="tabpanel">
                <div class="checkbox-demo"></div>
            </div>
            <div class="tab-pane" id="option-list" role="tabpanel">
                <div class="option-list-demo"></div>
            </div>
            <div class="tab-pane" id="datepicker" role="tabpanel">
                <div class="date-picker-demo"></div>
            </div>
            <div class="tab-pane" id="nested-list" role="tabpanel">
                <div class="nested-list-demo"></div>
            </div>
            <div class="tab-pane" id="nested-option-list" role="tabpanel">
                <div class="nested-option-list-demo"></div>
            </div>
        </div>
    </div>
</div>
