<div class="card card-body bg-light">
    <nested-list
         [element]="model.nestedListNode">
        <ng-template let-item>
            {{item.name}}
        </ng-template>
    </nested-list>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#nested-list-markup" role="tab">
            HTML
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nested-list-data" role="tab">
            Data
        </a>
    </li>
</ul>
<div class="tab-content card">
    <div class="tab-pane active" id="nested-list-markup" role="tabpanel">
        <pre>{{ markup }}</pre>
    </div>
    <div class="tab-pane" id="nested-list-data" role="tabpanel">
        <pre>{{ model | json }}</pre>
    </div>
</div>
